.card-img-wrapper {
    position: relative;
    background-color: black;
    overflow: hidden;
}

.card img {
    opacity: 0.9;
    transition: all 0.5s;
}

.card:hover img {
    opacity: 1;
    transform: scale(1.2, 1.2);
}

.card ul {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card ul button {
    padding: 2px 8px;
}

.card ul i {
    line-height: 1;
}